* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

/*    burger     */
.burger-chekbox {
  display: none;
}
/*┬┴┬┴┤( ͡° ͜ʖ├┬┴┬┴*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.color_white {
  color: rgb(255, 255, 255);
  letter-spacing: 0.36px;
}

.color_blue {
  color: rgb(39, 76, 91);
  letter-spacing: 0.36px;
}

.font_cursive {
  color: rgb(126, 182, 147);
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 64.8px;
  letter-spacing: 0.36px;
  text-align: left;
  text-transform: capitalize;
}

.container {
  padding: 140px 30px;
}

.header-container {
  padding: 40px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container__img > img {
  width: 38.58px;
  height: 55.72px;
}

.logo-container__name {
  padding: 0 0 0 9px;
  color: rgb(39, 76, 91);
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.navigation {
  display: flex;
  flex-grow: 0.7;
  /* 0.7 задаёт правильный процентный отступ навигации от логотипа внутри родителя */
  align-items: center;
}

.nav {
  width: 59%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.nav__item {
  font-size: 20px;
  font-weight: 400;
}

.nav > .font_blue:hover {
  color: rgb(126, 182, 147);
}

.cart {
  height: 70px;
  width: 159px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 33px;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.cart__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px 0px 3px 11px;
  width: 56px;
  height: 56px;
  border-radius: 100px;
  background-color: rgb(39, 76, 91);
}

.cart__amount {
  margin-right: 24px;
  font-size: 17px;
}

.intro {
  background-image: url("../images/bg-img_intro.jpg");
  background-position: center;
  background-size: cover;
  height: 913px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__header {
  margin: 14px 0 0 0;
  color: rgb(39, 76, 91);
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.36px;
  text-align: left;
  max-width: 45%;
}

.intro .button {
  width: 219px;
}

.button a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 30px 0 0 0;
  padding: 22px 9px 22px 33px;
  background-color: rgb(239, 211, 114);
  border-radius: 16px;
}

.button__text {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  text-transform: capitalize;
}

.button__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  border-radius: 19px;
  background-color: rgb(51, 91, 107, 1);
}

.discount-cards .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.discount-cards__item {
  padding-left: 55px;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  height: 378px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-pink {
  background-image: url("../images/discount-cards-pink.png");
}

.item-white {
  background-image: url("../images/discount-cards-white.png");
}

.discount-cards__item > * {
  max-width: 43%;
}

.discount-cards__item > p {
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
}

.about-us .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgb(249, 248, 248);
}

.about-us__img {
  display: flex;
  justify-content: center;
  width: 50%;
}

.about-us-content {
  width: 50%;
}

.about-us__img > img {
  max-width: 100%;
  max-height: 100%;
}

.about-us-content .section-header {
  align-items: flex-start;
  padding: 0;
}

.font_description {
  margin: 22px 0 0 0;
  padding: 0 0 32px 0;
  color: rgb(82, 92, 96);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: 0.36px;
  text-align: left;
}

.about-us-advantage {
  margin: 26px 0 0 0;
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.about-us-advantage__img {
  padding: 2px 0 0 0;
}

.about-us-advantage img {
  max-width: 100px;
  max-height: 100px;
}

.about-us-advantage__header {
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
}

.about-us-advantage__description {
  margin: 9px 0 0 0;
  padding-bottom: 0px;
}

.about-us-content .button {
  margin: 45px 0 0 0;
  width: 199px;
}
.about-us-content .button a {
  background-color: rgb(39, 76, 91);
}

.section-header {
  font-size: 45px;
  font-weight: 700;
  line-height: 58.5px;
  letter-spacing: 0.36px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 445px;
  max-height: 590px;
  border-radius: 30px;
  background-color: rgb(249, 248, 248);
}

.product__img > img {
  width: 95%;
}

.product__type {
  margin: 30px 0 0 30px;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 37px;
  border-radius: 8px;
  background: rgb(39, 76, 91);
}

.product__img {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

.product__name {
  margin: 19px 0 0 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
}

.product__wrap {
  width: 387px;
  border: solid 1px rgb(212, 212, 212);
  opacity: 0.4;
}

.product-item :nth-child(4) {
  margin: 10px auto;
}

.product__below-wrap {
  margin: 5px 30px 35px 0;
  display: flex;
  flex-direction: row;
}

.product__price {
  flex-grow: 1;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.product__price :nth-child(1) {
  font-size: 17px;
  font-weight: 400;
  color: rgb(184, 184, 184);
}

.product__price :nth-child(2) {
  font-size: 18px;
  font-weight: 700;
  color: rgb(39, 76, 91);
}

.customer-review {
  background-image: url("../images/bg-rewiev.png");
  background-position: center;
  background-size: contain;
  background-size: 100%;
  background-repeat: repeat-y;
}

.customer-review .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-review .section-header {
  padding: 0;
}

.customer__avatar {
  margin-top: 60px;
  height: 115px;
  width: 115px;
}

.customer__rating {
  margin-top: 18px;
}

.customer__rating > img {
  height: 27px;
  width: 123px;
}

.customer__text {
  margin: 34px 0 23px 0;
  width: 60%;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
}

.customer__name {
  font-size: 26px;
  font-weight: 700;
  line-height: 33.8px;
}

.customer__description {
  margin-top: 0px;
  font-size: 14px;
}

.customer-review__wrapper {
  margin: 100px 0;
  border: solid 1px rgb(224, 224, 224);
  width: 90%;
  opacity: 0.4;
}

.achivements {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.achivement__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 6px solid rgb(126, 182, 147);
  border-radius: 200px;
  background: rgb(241, 241, 241);
  width: 250px;
  height: 250px;
}

.achivement__item :nth-child(1) {
  color: rgb(39, 76, 91);
  font-family: Roboto;
  font-size: 42px;
  font-weight: 700;
  line-height: 54.6px;
  letter-spacing: 0.36px;
  text-align: center;
}

.achivement__item :nth-child(2) {
  color: rgb(39, 76, 91);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 32.4px;
  letter-spacing: 0.36px;
  text-align: center;
}

.offer {
  background: rgb(39, 76, 91);
}

.offer > .container {
  display: flex;
  flex-direction: column;
  padding-bottom: 160px;
}

.offer > .container > .button a {
  width: 222px;
}

.container-header {
  display: flex;
  flex-direction: row;
}

.offer .container .section-header {
  align-items: flex-start;
  padding: 0px;
}

.offer .container .button {
  flex-grow: 1;
  display: flex;
  align-items: end;
  justify-content: end;
}

.offer__product-item {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.eco-friendly {
  display: flex;
  align-items: center;
  justify-content: right;
  max-height: 704px;
  max-width: 100%;
  background: url("/images/bg-field.png") no-repeat;
  background-size: 720px 704px;
  background-position: left 0px;
}

.eco__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 620px;
  padding: 39px 100px 50px 60px;
  background-color: #fff;
  border-radius: 30px;
  margin: 40px;
}

.eco__content h3 {
  padding-bottom: 29px;
  font-size: 44px;
  font-weight: 700;
  line-height: 58.5px;
  text-transform: capitalize;
  text-align: left;
  width: 50%;
}

.food-container {
  padding: 140px 0;
  background-color: rgb(239, 246, 241);
}

.content__description {
  font-size: 18px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.content__header {
  font-size: 23px;
  font-weight: 700;
  line-height: 32.2px;
  text-align: left;
  text-transform: capitalize;
}

.food-types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: auto;
}

.food-types div {
  height: 580px;
  width: 460px;
}

.food-types div:nth-child(1) {
  background: url("/images/juice.png") no-repeat;
}

.food-types div:nth-child(2) {
  background: url("/images/organic.png") no-repeat;
}

.food-types div:nth-child(3) {
  background: url("/images/cookies.png") no-repeat;
}

.food__item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 460px;
  max-height: 580px; */
}

.food__header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  width: 70%;
  height: 15%;
  background-color: #fff;
  border-radius: 20px;
}

.subscribe {
  display: flex;
  justify-content: center;
}

.subscribe-container {
  background-image: url("/images/orange.png");
  background-position: center;
  background-size: cover;
  width: calc(100% - 100px);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px 20px;
  padding: 30px;
  height: 350px;
}

.subscribe__header {
  flex-grow: 1;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
}

.subscribe__header > h2 {
  font-size: 55px;
  width: 80%;
}

.subscribe-input {
  box-sizing: border-box;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  width: 350px;
  height: 82px;
  background-color: #fff;
}

.subscribe-input-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.subscribe-input::placeholder {
  padding-left: 10%;
  text-align: left;
  color: rgb(82, 92, 96);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.36px;
}

.subscribe-input-container .button a {
  background-color: rgb(39, 76, 91);
  margin-top: 0px;
  max-width: 160px;
  border: solid 0px;
  gap: 25px;
}
.subscribe-input-container .button > a span {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  gap: 52px;
}

.footer-column > h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
}

.column-left h3 {
  text-align: right;
}

.column-left div:last-child :last-child {
  padding-bottom: 39px;
  text-align: right;
}

.column-right h3 {
  text-align: left;
}

.column-middle .logo-container {
  justify-content: center;
}

.column-left {
  padding-right: 19px;
  border-right: solid 3px rgba(213, 213, 213, 0.22);
  display: flex;
  flex-direction: column;
}

.column-left > div h4 {
  margin-top: 38px;
  margin-bottom: 5px;
}

.column-left > div span {
  color: rgb(82, 92, 96);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.36px;
}

.column-left > div h4,
span {
  color: rgb(82, 92, 96);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0.36px;
  display: flex;
  justify-content: right;
}

.column-right {
  padding-left: 19px;
  border-left: solid 3px rgba(213, 213, 213, 0.22);
  display: flex;
  flex-direction: column;
}

.column-right > a {
  margin-top: 24px;
  color: rgb(82, 92, 96);
  font-family: "Roboto", "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.36px;
  text-align: left;
}

.footer-content {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 44px;
  padding: 0;
  max-width: 570px;
}

.socials {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.socials > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  background-color: rgb(239, 246, 241);
}

.map img {
  margin-top: 85px;
  max-width: 100%;
}
